# Mission to Mars - Eric Messerich

In [1]:
# Dependencies
import requests
from bs4 import BeautifulSoup as bs
#from splinter import Browser
from splinter import Browser
import pandas as pd

In [2]:
# Site Navigation
executable_path = {"executable_path": "C:\chromedrv\chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
# visit the page
news_url = "https://mars.nasa.gov/news/"
browser.visit(news_url)

# use bs to write it into html
html = browser.html
soup = bs(html, "html.parser")

In [4]:
# fetch news title and paragraph
news_title = soup.find("div", class_="content_title").text
news_p = soup.find("div", class_="rollover_description_inner").text
print(f"Title: {news_title}")
print(f"Paragraph: {news_p}")

Title: NASA's MRO Completes 60,000 Trips Around Mars
Paragraph: The orbiting spacecraft is also about to set a record for data relayed from the Martian surface.

# Space Images

In [5]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [6]:
browser.visit(image_url)

In [7]:
# extract base URL
from urllib.parse import urlsplit
orig_url = "{0.scheme}://{0.netloc}/".format(urlsplit(image_url))
print(orig_url)

https://www.jpl.nasa.gov/

In [8]:
# use xpath to select image
xpath = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"

In [9]:
# utilize splinter to get full resolution picture
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [11]:
#get image url using BeautifulSoup
html_image = browser.html
soup = bs(html_image, "html.parser")
img_url = soup.find("img", class_="fancybox-image")["src"]
full_img_url = orig_url + img_url
print(full_img_url)

https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA23221_hires.jpg

# Mars Weather

In [12]:
# Use tweet to get weather
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [13]:
temp = soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
temp

In [15]:
# use BeautifulSoup
html_weather = browser.html
soup = bs(html_weather, "html.parser")

mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(f"mars_weather = {mars_weather}")

mars_weather = InSight sol 167 (2019-05-17) low -100.5ºC (-148.9ºF) high -20.4ºC (-4.6ºF)
winds from the SW at 4.7 m/s (10.6 mph) gusting to 13.5 m/s (30.3 mph)
pressure at 7.50 hPapic.twitter.com/0Eqt9nN21o

# Mars Facts

In [16]:
url_facts = "https://space-facts.com/mars/"

In [17]:
table = pd.read_html(url_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
facts_df = table[0]
facts_df.columns = ["Parameter","Values"]
facts_df.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [19]:
html_table = facts_df.to_html()
html_table = html_table.replace("\n","")
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemisphere

In [99]:
url_hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_hemisphere)

In [100]:
#Getting the base url
hemisphere_base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(url_hemisphere))
print(hemisphere_base_url)

https://astrogeology.usgs.gov/

# Cerberus-Hemisphere-image-url

In [ ]:
# hemisphere_img_urls = []
# count = 1
# for x in range(1,4):
#     results = browser.find_by_xpath( "//*[@id='product-section']/div[2]/div[x]/a/img").click()
#     time.sleep(2)
#     cerberus_open_click = browser.find_by_xpath( "//*[@id='wide-image-toggle']").click()
#     time.sleep(1)
#     cerberus_image = browser.html
#     soup = bs(cerberus_image, "html.parser")
#     cerberus_url = soup.find("img", class_="wide-image")["src"]
#     cerberus_img_url = hemisphere_base_url + cerberus_url
#     print(cerberus_img_url)
#     cerberus_title = soup.find("h2",class_="title").text
#     print(cerberus_title)
#     back_button = browser.find_by_xpath("//*[@id='splashy']/div[1]/div[1]/div[3]/section/a").click()
#     cerberus = {"image title":cerberus_title, "image url": cerberus_img_url}
#     hemisphere_img_urls.append(cerberus)
#     count = count+1

In [ ]:
hemisphere_img_urls = []
results = browser.find_by_xpath( "//*[@id='product-section']/div[2]/div[1]/a/img").click()
time.sleep(2)
cerberus_open_click = browser.find_by_xpath( "//*[@id='wide-image-toggle']").click()
time.sleep(1)
cerberus_image = browser.html
soup = bs(cerberus_image, "html.parser")
cerberus_url = soup.find("img", class_="wide-image")["src"]
cerberus_img_url = hemisphere_base_url + cerberus_url
print(cerberus_img_url)
cerberus_title = soup.find("h2",class_="title").text
print(cerberus_title)
back_button = browser.find_by_xpath("//*[@id='splashy']/div[1]/div[1]/div[3]/section/a").click()
cerberus = {"image title":cerberus_title, "image url": cerberus_img_url}
hemisphere_img_urls.append(cerberus)

# Schiaparelli-Hemisphere-image-url

In [ ]:
results1 = browser.find_by_xpath( "//*[@id='product-section']/div[2]/div[2]/a/img").click()
time.sleep(2)
schiaparelli_open_click = browser.find_by_xpath( "//*[@id='wide-image-toggle']").click()
time.sleep(1)
schiaparelli_image = browser.html
soup = bs(schiaparelli_image, "html.parser")
schiaparelli_url = soup.find("img", class_="wide-image")["src"]
schiaparelli_img_url = hemisphere_base_url + schiaparelli_url
print(schiaparelli_img_url)
schiaparelli_title = soup.find("h2",class_="title").text
print(schiaparelli_title)
back_button = browser.find_by_xpath("//*[@id='splashy']/div[1]/div[1]/div[3]/section/a").click()
schiaparelli = {"image title":schiaparelli_title, "image url": schiaparelli_img_url}
hemisphere_img_urls.append(schiaparelli)

# Syrtis Major Hemisphere

In [ ]:
results1 = browser.find_by_xpath( "//*[@id='product-section']/div[2]/div[3]/a/img").click()
time.sleep(2)
syrtis_major_open_click = browser.find_by_xpath( "//*[@id='wide-image-toggle']").click()
time.sleep(1)
syrtis_major_image = browser.html
soup = bs(syrtis_major_image, "html.parser")
syrtis_major_url = soup.find("img", class_="wide-image")["src"]
syrtis_major_img_url = hemisphere_base_url + syrtis_major_url
print(syrtis_major_img_url)
syrtis_major_title = soup.find("h2",class_="title").text
print(syrtis_major_title)
back_button = browser.find_by_xpath("//*[@id='splashy']/div[1]/div[1]/div[3]/section/a").click()
syrtis_major = {"image title":syrtis_major_title, "image url": syrtis_major_img_url}
hemisphere_img_urls.append(syrtis_major)

# Valles Marineris Hemisphere

In [ ]:
results1 = browser.find_by_xpath( "//*[@id='product-section']/div[2]/div[4]/a/img").click()
time.sleep(2)
valles_marineris_open_click = browser.find_by_xpath( "//*[@id='wide-image-toggle']").click()
time.sleep(1)
valles_marineris_image = browser.html
soup = bs(valles_marineris_image, "html.parser")
valles_marineris_url = soup.find("img", class_="wide-image")["src"]
valles_marineris_img_url = hemisphere_base_url + syrtis_major_url
print(valles_marineris_img_url)
valles_marineris_title = soup.find("h2",class_="title").text
print(valles_marineris_title)
back_button = browser.find_by_xpath("//*[@id='splashy']/div[1]/div[1]/div[3]/section/a").click()
valles_marineris = {"image title":valles_marineris_title, "image url": valles_marineris_img_url}
hemisphere_img_urls.append(valles_marineris)

In [ ]:
hemisphere_img_urls